* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  margin: 0.25em 0;
}

svg {
  width: 50em;
  height: 25em;
  border: 0.1em solid black;
}

circle {
  fill: white;
  stroke: black;
  stroke-width: 0.3;
}

g.samples circle {
  fill: black;
  stroke: none;
}

g.lines line {
  stroke: black;
  stroke-width: 0.3;
}

div.command {
  width: 50em;
  border: 0.1em solid black;
  display: flex;
  flex-flow: column;
  gap: 1em;
  padding: 0.5em;

  label {
    display: flex;
    flex-flow: column;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  button {
    padding: 0.5em 1em;
    cursor: pointer;
  }
}
