* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  width: 50em;
  height: 30em;
  border: 0.1em solid black;
}

circle {
  fill: white;
  stroke: black;
  stroke-width: 0.3;
}

g.samples circle {
  fill: black;
  stroke: none;
}

g.lines line {
  stroke: black;
  stroke-width: 0.3;
}

div.command {
  width: 50em;
  border: 0.1em solid black;
  display: flex;
  flex-flow: column;
  gap: 1em;
  padding: 0.5em;
}

div.command label {
  display: flex;
  flex-flow: column;
}
